{% extends "ceudp/base.html" %}
{% load staticfiles %}
{% block customize-styles %}
    <style type="text/css">
        body.login-page-body { 
            background-image: url('http://wp.widewallpapers.net/4k/computers/servers/2560x1440/datacenter-servers-2560x1440-003.jpg');
            background-color: #000000;
            background-repeat:no-repeat; 
            background-size:100% 100%;
            -moz-background-size:100% 100%;
        }

        div.login-page-box {
            width: 360px;
            position: absolute;  
            top: 50%; left: 50%;
            margin: -10vw 0 0 0;
            transform: translateX(-50%);
        }

    </style>
{% endblock %}
{% block body %} 
    <body class="login-page-body">
        <div class="login-page-box">
            <div class="login-logo">
                <a style="color: white;" href="{% url 'index' %}"><b>中金</b> | 统一数据平台</a>
            </div>
            <div class="login-box-body">
                {% if error_messages %}
                    <p class="login-box-msg">{{ error_messages }}</p>
                {% endif %}

                <form action="{% url 'management:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="用户名" name="username">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="密码" name="password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
{% endblock %}
